.landing-page-about {
  background-image: url('img/about_bg_mobile.png');
  background-size: 100% 35%;
  background-repeat: no-repeat;
  padding-bottom: 0.5rem;
  background-color: #F7F7F8;
}

.title-about {
  color: rgba(236,67,39, 0.5);
  text-align: center;
  font-size: 24px;
  padding-top: 1rem;
}

.subheader-about {
  text-align: center;
  padding: 1.5rem 0.65rem;
  background-color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin-top: 2rem;
}

.sub-header-about-desktop {
  display: none;
}

.contact-me-about {
  color: #7A7A7A;
  margin: 1rem 2.75rem;
  font-size: 12px;
  text-align: center;
}

.contact-me-about p {
  margin-bottom: 0;
}

.contact-me-about a {
  font-weight: 900;
  text-decoration: underline;
  color: #7A7A7A;
}

.info-page {
  text-align: center;
}

.info-page h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #2C2C2C;
  margin: 1rem 3rem;
}

.info-page h2:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 10%;
  padding-top: 8px;
  border-bottom: 2px  solid #A04038;
}

.info-page p {
  color: #838383;
  font-size: 16px;
  font-weight: 700;
}

.info-page img {
  height: 141px;
  width: 375px;
}

.past-events {
  text-align: center;
  margin: 2rem 1.75rem;
}

.past-events h2 {
  font-size: 20px;
  font-weight: 700;
  color: #2C2C2C;
}

.past-events h2:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 10%;
  padding-top: 8px;
  border-bottom: 2px  solid #A04038;
}

.past-events p {
  color: #838383;
  font-size: 12px;
}

.past-events-img {
  gap: 2rem;
  flex-direction: column;
}

.partners {
  background-color: #414246;
  margin-top: 4rem;
}

.partners h3 {
  font-size: 30px;
  line-height: 28px;
  letter-spacing: -1%;
  color: #8F8F91;
  text-align: center;
  padding-top: 2.25rem;
  padding-bottom: 3rem;
}

.partners h3:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 3%;
  padding-top: 8px;
  border-bottom: 2px  solid #F07F7E;
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 900;
  font-size: 25px;
  gap: 10%;
  padding-bottom: 2.25rem;
  color: #8F8F91;
}

#feature-speakers {
  display: none;
}
footer {
  margin: 0.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

footer p {
  font-size: 10px;
  margin: 0.5rem;
}

footer img {
  width: 135px;
  height: 31px;
}
.footer-description {
  display: none;
}

@media only screen and (min-width: 768px) {
  .landing-page-about {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('img/about_bg_mobile.png');
    background-size: 100% 100%;
    padding-bottom: 10rem;
  } 

  .title-about {
    padding-top: 5rem;
    margin-left: 30%;
    max-width: 40%;
  }

  .big-title {
    font-size: 40px;
  }
  .small-title {
    display: none;
  }

  .subheader-about {
    max-width: 60%;
    margin-left: 20%;
    padding: 1rem 4rem;

  }
  .sub-header-about-desktop {
    display: block;
    line-height: 25px;
  }
  .sub-header-about-mobile {
    display: none;
  }

  .contact-me-about {
    font-size: 16px;
  }

  .partners {
    display: none;
  }

  .past-events-img {
    flex-direction: row;
    justify-content: center;
  }

  .past-events-img img {
    max-width: 232px;
  }

  footer {
    background: #2E2E2E;
    color: #fff;
    font-weight: 400;
    
  }

  footer p {
    font-size: 12px;
    margin: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  
  footer img {
    width: 325px;
    height: 61px;
  }

  .footer-description {
    display: block;
    padding-left: 54%;
  }
}