body {
  font-family: 'Lato', sans-serif;
}

.pr-10 {
  padding-right: 10%;
}

.top-nav {
  gap: 1.5%;
  font-size: 12px;
}

.bottom-nav {
  padding-left: 15%;
  font-weight: 800;
  font-size: 14px;
}

.gray-text {
  color: #868686;
}

.orange-text {
  color: #F07F7E;
}

.orange-border {
  border: 5px solid #EC4327;
}

.landing-page {
  background-image: url('img/header-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 16%;
  padding-top: 4%;
  padding-bottom: 8%;
}

.title {
  color: rgba(236,67,39, 0.5);
}
.big-title {
  font-size: 60px;
  font-weight: 900;
}

.sub-header {
  border: 4px solid #fff;
  font-weight: 400;
  font-size: 20px;
  color: #515151;
  padding-left: 1rem;
  padding-right: 1rem;
}

.date {
  color:#595959;
  font-weight: 900;
  font-size: 42.4837px;
}

.location {
  font-weight: 700;
  font-size: 26px;
  color: #868686;
}